<div class="fade in">
    <div class="well">
        <h1>Play music <i style="color:orange">Every</i><i>Where</i>. Explore music with <i style="color:orange">Every</i><i>One</i></h1>
        <p> Every is a music player that makes listening to music a shared experience. Set up a listening room and invite
        your friends. Control the playlist together from any device. Let your partyguests decide what to listen and never
        worry about your music again. Sync music between you and your online friends, explore music together!</p>
        <p>Every is currently in a very early stage of development. Most functionality is not yet implemented. Every is
        created by <a href="https://nl.linkedin.com/in/hartgerveeman">Hartger Veeman</a>.</p>

    </div>
    <h2 style="margin-left:5%">Featured artists:</h2>
    <div>
        <div style="width:40%;margin-left:5%;margin-right:5%" class="pull-left">
            <div class="well well-sm">
                <a href="#/user/1570627" style="margin-left: auto; margin-right: auto;">
                    <h3>Mount Kimbie</h3>
                    <img width="100%" height="100%" src="https://i1.sndcdn.com/avatars-000037450876-tcak5g-t500x500.jpg">
                </a>
            </div>
        </div>
        <div style="width:40%;margin-left:5%;margin-right:5%" class="well well-sm pull-right">
            <a href="#/user/6255406">
                <h3>Etherwood</h3>
                <img width="100%" height="100%" src="https://i1.sndcdn.com/avatars-000065493002-47tuyo-t500x500.jpg">
            </a>
        </div>
    </div>
</div>