<h1>{{room.name}}</h1>
<div class="well" id=""  >
    <!--<a ng-click="addPlaylist()">TEST</a>-->
    <a ng-click="join()">JOIN</a>
    <table  class="searchlist table table-striped sortable">
        <tbody ui-sortable ng-model="queue">
        <tr ng-animate=" 'animate' " ng-repeat="track in room.playlist track by $index">
            <td><span class="glyphicon glyphicon-move handle"></span></td>
            <td><img src='{{track.artwork_url.replace("large","badge")}}'></td>
            <td>{{track.title}}</td><td><a href="#/user/{{track.user.id}}">{{track.user.username}}</a></td>
            <td>{{msToTime(track.duration)}}</td>
            <td><span class="glyphicon glyphicon-remove push-right" ng-click="removeQueueTrack($index)"></span></td>
        </tr>
        </tbody>
    </table>
</div>

